In [16]:
%load_ext kedro.ipython

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [17]:
companies = catalog.load("companies")
companies.head()

[03/18/24 09:12:19] INFO     Loading data from companies (CSVDataset)...                        ]8;id=189257;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=256459;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py#483\483]8;;\

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

In [20]:
import pandas as pd 

def _is_true(x: pd.Series) -> pd.Series: 
    """Convert t/f values to their corresponding Boolean value (True or False)"""
    return x == "t"

In [33]:
def _parse_percentage(x: pd.Series) -> pd.Series: 
    """Convert percentage values to its corresponding numerical representation"""
    return x.str.replace("%", "").astype(float)

In [35]:
def _parse_money(x: pd.Series) -> pd.Series:
    """Convert money to numerical representation"""
    return x.str.replace("$", "").str.replace(",", "").astype(float)

In [30]:
companies.dtypes

id                     int64
company_rating       float64
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [27]:
companies["company_rating"] = _parse_percentage(companies["company_rating"])

In [22]:
companies["iata_approved"] = _is_true(companies["iata_approved"])

In [19]:
shuttles = catalog.load("shuttles")

[03/18/24 09:12:51] INFO     Loading data from shuttles (ExcelDataset)...                       ]8;id=625502;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=314262;file://c:\Users\daniel.manabat\Work\side-projects\.venv\Lib\site-packages\kedro\io\data_catalog.py#483\483]8;;\

In [24]:
shuttles['d_check_complete'] = _is_true(shuttles['d_check_complete'])
shuttles['moon_clearance_complete'] = _is_true(shuttles['moon_clearance_complete'])

In [36]:
shuttles['price'] = _parse_money(shuttles['price'])

In [38]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete              bool
moon_clearance_complete       bool
price                      float64
company_id                   int64
dtype: object

In [37]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,False,False,1715.0,32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,False,False,3405.0,14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,True,False,1806.0,47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,False,False,1676.0,26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,False,False,4718.0,26648